.modal.fade#ui_modal_alert(tabindex="-1" role="dialog" aria-labelledby="SuperCollider UI")
    .modal-dialog.modal-lg(role="document")
        .modal-content
            .modal-header.alert-danger
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title
                    span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true") &nbsp;
                    span#ui_modal_alert_title
            .modal-body#ui_modal_alert_text
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Ok
