$color-bg: #60646D;
$color-ok: #97CE68;
$color-error: #E01931;
$color-text: #000;
$color-warning: #FCB941;
$color-index: #83D6DE;

@import "vlabel";
@import "vmetro";
@import "timer";
@import "concert";

.module {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    border: $color-bg 1px solid;
    font-weight: 200;
    background-color: #3B3C3D;
    a {
        color: #DDD;
    }
}

html, body {
    background-color: $color-bg;
    color: $color-text;
}

h1 {
    background-color: $color-bg;
    color: $color-text;
    margin-left: 1.3em;
}

h1 .homelink {
    float:right;
    font-size: 1em;

    a, a:hover, a:active, a:visited {
        color: green ! important;
    }
}

#title {
    margin-left: 1em;
}

@mixin bullet {
    position: absolute;
    content: "•";
    font-size: 2em;
    top: 0;
    left: 20px;
}

.connected:before {
    @include bullet;
    color: $color-ok;
}

.disconnected:before {
    @include bullet;
    color: $color-error;
}

.connected_process:before {
    @include bullet;
    color: gray;
}

table.info {
    margin-top: 50px;
}

.table-vcenter td {
   vertical-align: middle!important;
}

#info {
    font-size: 1.1em;
    min-height: 100px;
}

#state-icon {
    font-size: 2em;
}

#poll-info {
    width: 70px;
    height: 70px;
}

#pieces {
    margin-top: 40px;
}

#pieces li {
    font-size: 1.5em;
    height: 3em;
    margin-top: 30px;
}

#pieces li .title {
    font-weight: bold;
}


// SPEAKER TESTS
.speaker-space {
    height: 200px;
}
