.ui-ref {
    background-color: #007b70 ! important;
}

.ui {
    .widget-absolute {
        position: absolute ! important;
    }

    .knob-small {
        width: 120px;
        height: 120px;
    }

    .knob-medium {
        width: 250px;
        height: 250px;
    }

    .knob-large {
        width: 350px;
        height: 350px;
    }
}

#ui-elements {
    text-align: center;
    padding: auto auto;
}

.ui-playcontrol {
    button {
        margin: 0 5px;

        span {
            margin-right: 3px;
        }
    }

    .label {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        display: block;
        font-size: 4em;
        font-weight: normal;
        font-family: Verdana;

        .part {
            display: inline-block;
            width: 120px;
            float: left;
            border: 1px solid white;
        }

        .time {

        }
    }
}
