.ui-ref {
    background-color: #007b70 ! important;
}

.ui {
    .widget-absolute {
        position: absolute ! important;
    }

    .knob-small {
        width: 120px;
        height: 120px;
    }

    .knob-medium {
        width: 250px;
        height: 250px;
    }

    .knob-large {
        width: 350px;
        height: 350px;
    }
}

#ui-elements {
    text-align: center;
    padding: auto auto;
}

.instrument {
    padding: 5px 15px;

    button {
        width: 200px;
    }

    .slider {
        margin: 0 20px;
        display: inline-block;
        height: 40px;

    }
}
