.vlabel-ref {
    background-color: #EB9532 ! important;;
}

.vlabel {
    #label {
        text-align: center;
        width:100vw;
        line-height: 80vh;
        vertical-align: middle;
    }
}
