$metro-color: #4CD4B0 ! important;
$bar-color: #E3000E;
$box-border: 1px solid #DDD;
$box-width: 300px;
$box-height: 250px;

.vmetro-ref {
    background-color: $metro-color;
}

.vmetro {
    h1 {
        color: $metro-color;
    }

    @mixin box {
        font-size: 160px;
        width: $box-width;
        height: $box-height;
        margin: 30px;
        border: $box-border;
        text-align: center;
        background-color: #AAA;
    }

    #bar-number {
        @include box;
        color: $bar-color;
        float: left;
    }

    #mark {
        @include box;
        color: blue;
        background-color: #AAA;
        float: right;
    }

    ul#beats {
        text-align: justify;
        width: 100%;
        // background-color: gray;
        height: 120px;
        clear: both;
    }

    ul#beats  li {
        display: inline-block;
        position: relative;
        width: 120px;
        height: 120px;
        background-color: orange;
    }

    li.active {
        background-color: #FA4204;
    }

    ul#beats:before{
        content: '';
        display: block;
        width: 100%;
        height: 0;
    }

    ul#beats:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
}
