doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash id-class-style=dash id-no-dup=true
html(lang="en-us")
    head
        include jade/head.jade
    body
        .container-fluid
            h1 SuperCollider Web UI

            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/timer") Timer clock
                .col-md-4.bg-info.catlink
                    a(href="/vmetro") Visual Metronome
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/player") Player control
                .col-md-4.bg-info.catlink
                    a(href="/vumeter") VU meter
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/mix") Mix control
                .col-md-4.bg-info.catlink
                    a(href="/vlabel") Visual label
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/utils") Utililities
                .col-md-4.bg-info.catlink
                    a(href="/info") Information
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/speakers") Speakers test
                .col-md-4.bg-info.catlink
                    //- a(href="/info") Information
                .col-md-2
                
        script var socket = io();
