doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", media="screen", href="/css/bootstrap.min.css")
        link(rel="stylesheet", media="screen", href="/css/global.css")
        title SuperCollider Web UI
        script(src="/socket.io/socket.io.js")
    body
        .container-fluid
            h1 SuperCollider Web UI
            
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/timer") Timer clock
                .col-md-4.bg-info.catlink
                    a(href="/vmetro") Visual Metronome
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/player") Player control
                .col-md-4.bg-info.catlink
                    a(href="/vumeter") VU meter
                .col-md-2
            .row
                .col-md-2
                .col-md-4.bg-info.catlink
                    a(href="/mix") Mix control
                .col-md-4.bg-info.catlink
                    a(href="/vlabel") Visual label
                .col-md-2
