doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include jade/head.jade
        script(src="/js/lib/jquery.min.js")
    body
        .container-fluid
            h1 Server Information
            
            .row
                .col-md-3
                .col-md-6.bg-info#info
                    p no information
                .col-md-3
            
                
        
        script(src="/js/supercollider_ui.min.js")
        script $(document).ready(get_info());
        
