doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include jade/head.jade
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6#info
                    h1 Server Information
                    table.table.info.table-condensed.table-striped
                        tr
                            td Connected clients:
                            td.clients
                        tr
                            td Remote address
                            td.remote-address
                .col-md-3
            

        script $(document).ready(get_info());
        
