doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash id-class-style=dash id-no-dup=true
html(lang="en-us")
    head
        include jade/head.jade
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6#info
                    h1 Server Information
                    table.table.table-striped.info.table-vcenter
                        tr
                            td Connected clients:
                            td.clients
                        tr
                            td Remote address:
                            td.remote-address
                        tr
                            td SuperCollider state:
                            td 
                                span#state-icon
                        tr
                            td Running servers:
                            td#running-servers
                        tr
                            td Peak CPU:
                            td#peak-cpu
                        tr
                            td Average CPU:
                            td#avg-cpu
                        tr
                            td Sample rate:
                            td#sample-rate
                        tr 
                            td MIDI-devices:
                            td#midi-devices
                        tr
                            td Audio-devices:
                            td#audio-devices
                .col-md-3
            

        script $(document).ready(get_info());
        
