doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include jade/head.jade
    body
        .container-fluid
            h1 Timer
            
            #timer1 --:--:--
            
            .row
                .col-md-12
                    #timerControl
            
            script(type='text/javascript').
                $(document).ready(
                    function(){
                        var serverTimer = new ServerTimer($("#timer1"));
                        var control = new TimerControl($("#timerControl"), serverTimer);
                    }
                );
            
