doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
- var HEADER = "Timer"
- var TITLE = "NodeJS synchronized Timer"
html(lang="en-US")
    head
        include pug/meta.pug
    body
        include pug/header.pug
        .container-fluid
            #timer1 --:--:--

            #timerControl

        include pug/footer.pug

        script(type='text/javascript').
            app_timer_run();
