doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include pug/meta.pug
        script(src='/js/lib/jquery.fittext.min.js')
    body
        include pug/header.pug
        .container-fluid
            h1.timer Timer

            #timer1 --:--:--

            #timerControl

            script(type='text/javascript').
                $(document).ready(
                    function(){
                        var timer = new ServerTimer($("#timer1"));
                        var control = new TimerControl($("#timerControl"), timer);

                        $("#timer1").fitText(0.5);
                    }
                );
