doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include jade/head.jade
    body
        .container-fluid
            h1 UI
            
            #ui-elements
            
