doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include pug/head.pug
    body
        include pug/modal.pug
        include pug/nav.pug
        .container-fluid
            h1 UI

            #ui-elements
