doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-us")
    head
        include jade/head.jade
        script(src='/js/lib/jquery.fittext.min.js')
    body
        .container-fluid.vlabel
            h1 Visual Label
            
            #label DEFAULT
            
            script(type='text/javascript').
                $(document).ready(
                    function(){
                        socket.on('/vlabel/set', function(msg){
                            $("#label").html(msg);
                            $("#label").fitText(0.5);
                        });
                        
                        socket.on('/vlabel/css', function(msg){
                            $("#label").css(msg[0], msg[1]);
                        });
                        // init
                        $("#label").fitText(0.5);
                    }
                );
            
